@import 'textarea.css';

:root{
    --width: 1000px;
    --height: 100vh;
    --font: 'Times New Roman', Times, serif;

    /*they suggest 1.2x the fontsize online, to prevent lineheight being less than true height*/
    --user-fontsize: 16px;
    --user-lineheight: 20px;

    --page-fontsize: 20px;
    --page-lineheight: 24px;

    --title-fontsize: 25px;
    --title-lineheight: 30px;

    --nav-fontsize: 40px;
    --nav-lineheight: 48px;

    --textarea-height: 0px;
    --textarea-width: 0px;
    --textarea-x: 0px;
    --textarea-y: 0px;

    --popuplogin: 0%;
    --popupreportblog: 0%;
    --popupreportcomment: 0%;
    --deleteblog: 0%;
    --deletecomment: 0%;
    --popupimage: 0%;
}

html{
    width: 100%;
    height: 100%;
}
div#super{
    margin: 0;
    display: flex;
    width: 100%;
    height: var(--height);
}
body{
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    background-color: grey;
    background-attachment: fixed;
    background-image: linear-gradient(160deg, #325882, #0c4e77, #1e6d8a, #4a99ae, #60b2bd, #8ad0d6);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div{
    width: inherit;
    height: inherit;
}
article{
    width: inherit;
    height: inherit;
}
form{
    width: inherit;
    height: inherit;
}
#mainbox{
    display: flex;
    width: 65%;
    min-height: var(--height);
    height: fit-content;
    max-height: var(--height);
    background-color: lightblue;
    overflow:scroll;
}
#mainmargin{
    width: 5%;
}
#mainarea{
    width: 90%;
}
#mainbuffer{
    width: 100%;
    height: calc(var(--nav-lineheight) * 0.5);
}
#maincontent{
    width: 100%;
}

.svgbutton{
    background-image: url('../css/button.svg');
    background-size: 100% 100%;
    border-width: 0;
    background-color: transparent;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 26px;
    width: auto;
}
.floatright{
    float: right;
}

#titlearea{
    width: 100%;
    align-items:center;
}
#pagetitle{
    font-size: var(--nav-fontsize);
    line-height: var(--nav-lineheight);
    margin: 0;
}

.createbloginput{
    font-family: var(--font);
    font-size: var(--user-fontsize);
    line-height: var(--user-lineheight);

    width: 50%;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.titlesize{
    font-family: var(--font);
    font-size: var(--nav-fontsize);
    line-height: var(--nav-lineheight);
    width: 100%;
}

.createbloginput:focus-visible{
    outline: transparent !important;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.inputrow{
    display: flex;
    width: 100%;
    height: var(--user-lineheight);
}
.inputarea{
    display:flex;
    width: 100%;
    height: calc(var(--user-lineheight) * 3);
}

.labelinput{
    font-family: var(--font);
    font-size: var(--user-fontsize);
    line-height: var(--user-lineheight);

    width: 25%;
}

.textright{
    text-align: right;
    margin-right: 10px;
}

.textcenter{
    text-align:center;
}

.labelerror{
    font-family: var(--font);
    font-size: var(--user-fontsize);
    line-height: var(--user-lineheight);

    width: 25%;
    
    text-align: left;
    color: red;
    margin-left: 10px;
}

.labelgen{
    font-family: var(--font);
    font-size: var(--user-fontsize);
    line-height: var(--user-lineheight);
}

.notalink{
    color: black;
    text-decoration:none;
}
.notalink:visited{
    color:black;
}

.linebreak{
    width: 100%;
    height: var(--user-lineheight);
}
.padbottom{
    width: 100%;
    padding-bottom: calc(var(--user-lineheight) * 0.5);
}

.commentarea{
    width: 100%;
    height: 100%;
    display: flex;
}
.commentpicarea{
    width: 10%;
    height: 100%;
}
.commenttext{
    width: 90%;
    height: 100%;
}
.commentpart{
    width: 100%;
}
.labelusername{
    font-family: var(--font);
    font-size: var(--user-fontsize);
    line-height: var(--user-lineheight);
    text-decoration: underline;
}
.pfp{
    width: 80%;
    height: auto;
}

.popup{
    left: 0px;
    top: 0px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    overflow:hidden;
}
.popupL1{
    width: 17.5%;
    height: 100%;
}
.popupR1{
    width: 22.5%;
    height: 100%;
}
.popupM1{
    width: 60%;
    height: 100%;
}
.popupT1{
    width: 100%;
    height: 30%;
}
.popupB1{
    width: 100%;
    height: 30%;
}
.popupM2{
    display: flex;
    width: 100%;
    height: 40%;
    background-color: #8ad0d6;
}
.popupL2{
    width: 5%;
    height: 100%;
}
.popupR2{
    width: 5%;
    height: 100%;
}
.popupM3{
    width: 90%;
    height: 100%;
}
.popupT2{
    width: 100%;
    height: 25%;
    align-items: center;
}
.popupM4{
    width: 100%;
    height: 55%;
}
.popupB2{
    width: 100%;
    height: 20%;
}
.reporttitle{
    padding-top: 1%;
    display: block;
    width: 100%;
    text-align: center;
}

.deleteoption{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
}
.yesdelete:hover{
    background-color: red;
}
.nodelete:hover{
    background-color: green;
}

#blog_pictures{
    width: 100%;
    height: fit-content;
}
.blog_pic{
    width:auto;
    height: calc(var(--user-lineheight)*4);
    overflow: hidden;
    background-position: left center;
    background-repeat: no-repeat;
    /*background-size: auto calc(min(100%, ));*/
}

#popuplogin{
    width: var(--popuplogin);
    height: var(--popuplogin);
}
#popupreportblog{
    width: var(--popupreportblog);
    height: var(--popupreportblog);
}
#popupreportcomment{
    width: var(--popupreportcomment);
    height: var(--popupreportcomment);
}
#deleteblog{
    width: var(--deleteblog);
    height: var(--deleteblog);
}
#deletecomment{
    width: var(--deletecomment);
    height: var(--deletecomment);
}
#popupimage{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: var(--popupimage);
    height: var(--popupimage);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
#zoomimage{
    width: fit-content;
    height: fit-content;
}