@import 'textarea.css';
@import 'nav_style.css';

:root{
    --width: 1000px;
    --height: 100vh;
    --font: 'Times New Roman', Times, serif;

    /*they suggest 1.2x the fontsize online, to prevent lineheight being less than true height*/
    --user-fontsize: 16px;
    --user-lineheight: 20px;

    --blogtag-width: 40px;

    --page-fontsize: 20px;
    --page-lineheight: 24px;

    --title-fontsize: 25px;
    --title-lineheight: 30px;

    --nav-fontsize: 40px;
    --nav-lineheight: 48px;

    --textarea-height: 0px;
    --textarea-width: 0px;
    --textarea-x: 0px;
    --textarea-y: 0px;

    --popuplogin: 0%;
    --popupreportblog: 0%;
    --popupreportcomment: 0%;
    --deleteblog: 0%;
    --deletecomment: 0%;
    --popupimage: 0%;


    --line-0: 1px;
    --line-1: 10px;
    --line-2: 16px;
    --line-3: 18px;
    --line-4: 20px;
    --line-5: 26px;
    --line-6: 40px;

    --brow-s-h: var(--line-1);  /* start height */
    --brow-e-h: var(--line-0);  /* end height   */
    --brow-s-c: #888888;      /* start color  */
    --brow-e-c: #888888;      /* end color    */
    
    --cell-bg-c: #CCCCCC;
    --cell-tx-c: #000000;
    --cell-hv-c: #FFFFFF;

    --page-bg-c: #DDDDDD;
}

html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    overflow-y: auto;
}
html::-webkit-scrollbar {
    display: none;
}
div#super{
    margin: 0;
    display: flex;
    width: 100%;
    height: var(--height);
}
div#super{
    margin: 0;
    display: flex;
    width: 100%;
    height: var(--height);
}
body{
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    background-color: grey;
    background-attachment: fixed;
    /*background-image: linear-gradient(160deg, #325882, #0c4e77, #1e6d8a, #4a99ae, #60b2bd, #8ad0d6);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div{
    width: inherit;
    height: inherit;
}
article{
    width: inherit;
    height: inherit;
}
form{
    width: inherit;
    height: inherit;
}
#mainbox{
    display: flex;
    width: 80%;
    min-height: var(--height);
    height: fit-content;
    max-height: var(--height);
    background-color: #F0F0F0;
    overflow:auto;
    overflow-x: hidden;;
}
#mainmargin{
    width: 5%;
}
#mainarea{
    width: 60%;
}
#mainbuffer{
    width: 100%;
    height: calc(var(--nav-lineheight) * 0.5);
}
#maincontent{
    width: 100%;
}

.svgbutton{
    color:white;
    background-image: url('../css/button.svg');
    background-size: 100% 100%;
    border-width: 0;
    background-color: transparent;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 26px;
    width: auto;
}
.svgbg{
    color:white;
    background-image: url('../css/blue.svg');
    background-size: 100% 100%;
    border-width: 0;
    background-color: transparent;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 26px;
    width: auto;
}

.floatright{
    float: right;
}

#titlearea{
    width: 100%;
    align-items:center;
}
#pagetitle{
    font-size: var(--nav-fontsize);
    line-height: var(--nav-lineheight);
    margin: 0;
    text-decoration: none;
    font-style: var(--font);
    font-weight: normal;
}

.createbloginput{
    font-family: var(--font);
    font-size: var(--user-fontsize);
    line-height: var(--user-lineheight);

    width: 50%;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.titlesize{
    font-family: var(--font);
    font-size: var(--nav-fontsize);
    line-height: var(--nav-lineheight);
    width: 100%;
}

.createbloginput:focus-visible{
    outline: transparent !important;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.inputrow{
    display: flex;
    width: 100%;
    height: var(--user-lineheight);
}
.inputarea{
    display:flex;
    width: 100%;
    height: calc(var(--user-lineheight) * 3);
}

.labelinput{
    font-family: var(--font);
    font-size: var(--user-fontsize);
    line-height: var(--user-lineheight);

    width: 25%;
}

.blogtagdiv{
    margin:5px;

    background-color:#505070;


    display:inline-block;
    min-width: var(--blogtag-width);
    width:fit-content;
    min-height: var(--page-lineheight);
    height: fit-content;

    overflow-inline: visible;
    overflow-x:visible;
    text-overflow: clip;
}
.inputtag{
    display: inline-block;
    font-family: var(--font);
    font-size: var(--user-fontsize);
    line-height: var(--user-lineheight);
    resize:none;

    width:fit-content;
    min-width: 30px;
    height: var(--user-lineheight);

    margin: 0px;
    padding: 0px;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0.1);

    overflow-inline: visible;
    overflow-x:visible;
    text-overflow: clip;
}
#blogtag_create{
    display:block;
    width:fit-content;
}

.textright{
    text-align: right;
    margin-right: 10px;
}

.textcenter{
    text-align:center;
}

.labelerror{
    font-family: var(--font);
    font-size: var(--user-fontsize);
    line-height: var(--user-lineheight);

    width: 25%;
    
    text-align: left;
    color: red;
    margin-left: 10px;
}

.labelgen{
    font-family: var(--font);
    font-size: var(--user-fontsize);
    line-height: var(--user-lineheight);
}

.notalink{
    color: black;
    text-decoration:none;
}
.notalink:visited{
    color:black;
}

.linebreak{
    width: 100%;
    height: var(--user-lineheight);
}
.linebreak::after {
    content: "";
    clear: both;
    display: table;
}
.padbottom{
    padding-bottom: calc(var(--user-lineheight) * 0.5);
}

.commentarea{
    width: 100%;
    height: 100%;
    display: flex;

    padding-block: 10px;
    border-style: solid;
    border-inline-width: 0px;
    border-block-start-width: 1px;
    border-block-end-width: 0px;
    border-block-start-color: #DDDDDD;
}
.commentpicarea{
    width: 10%;
    height: 100%;
}
.commenttext{
    width: 90%;
    height: 100%;
}
.commentpart{
    width: 100%;
}

.aboutmearea{
    box-sizing:border-box;
    padding-left: 10px;
    width: 100%;
    height: fit-content;
    display: flex;

    padding-block: 10px;
    border-style: solid;
    border-inline-width: 0px;
    border-block-start-width: 1px;
    border-block-end-width: 0px;
    border-block-start-color: #DDDDDD;
}
.aboutmepicarea{
    width: 20%;
    height: 100%;
}
.aboutmetext{
    width: 80%;
    height: 100%;
}
.aboutmepart{
    width: 100%;
}
.labelusername{
    font-family: var(--font);
    font-size: var(--user-fontsize);
    line-height: var(--user-lineheight);
    text-decoration: underline;
}
.pfp{
    /*width: 80%;
    height: auto;*/
    width:50px;
    height:50px;
}

.popup{
    left: 0px;
    top: 0px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    overflow:hidden;
}
.popupL1{
    width: 17.5%;
    height: 100%;
}
.popupR1{
    width: 22.5%;
    height: 100%;
}
.popupM1{
    width: 60%;
    height: 100%;
}
.popupT1{
    width: 100%;
    height: 30%;
}
.popupB1{
    width: 100%;
    height: 30%;
}
.popupM2{
    display: flex;
    width: 100%;
    height: 40%;
    background-color: #FFFFFF;
}
.popupL2{
    width: 5%;
    height: 100%;
}
.popupR2{
    width: 5%;
    height: 100%;
}
.popupM3{
    width: 90%;
    height: 100%;
}
.popupT2{
    width: 100%;
    height: 25%;
    align-items: center;
}
.popupM4{
    width: 100%;
    height: 55%;
}
.popupB2{
    width: 100%;
    height: 20%;
}
.reporttitle{
    padding-top: 1%;
    display: block;
    width: 100%;
    text-align: center;
}

.deleteoption{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
}
.yesdelete:hover{
    background-color: #5555A5;
}
.nodelete:hover{
    background-color: #5555A5;
}

#blog_pictures{
    width: 100%;
    height: fit-content;
}
.blog_pic{
    width:auto;
    height: calc(var(--user-lineheight)*4);
    overflow: hidden;
    background-position: left center;
    background-repeat: no-repeat;
    /*background-size: auto calc(min(100%, ));*/
}

#blog_pictures{
    width: 100%;
    height: fit-content;
}
.blog_pic{
    width:auto;
    height: calc(var(--user-lineheight)*4);
    overflow: hidden;
    background-position: left center;
    background-repeat: no-repeat;
    /*background-size: auto calc(min(100%, ));*/
}

#popuplogin{
    width: var(--popuplogin);
    height: var(--popuplogin);
}
#popupreportblog{
    width: var(--popupreportblog);
    height: var(--popupreportblog);
}
#popupreportcomment{
    width: var(--popupreportcomment);
    height: var(--popupreportcomment);
}
#deleteblog{
    width: var(--deleteblog);
    height: var(--deleteblog);
}
#deletecomment{
    width: var(--deletecomment);
    height: var(--deletecomment);
}
#popupimage{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: var(--popupimage);
    height: var(--popupimage);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
#zoomimage{
    width: fit-content;
    height: fit-content;
}

.blogpreview{
    padding-left:10px;
    border-inline-width: 0px;
    border-block-start-width: 10px;
    border-block-end-width: 1px;
    border-style: solid;
    border-block-start-color: #222255;
    border-block-end-color:#DDDDDD;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.blogpr{
    /*background-color: #F5F5F5;*/
}
.blogp{
    /*background-color:#F0F0F0;*/
    display: flex;
    width: 100%;
}
.blogpL1{
    width: var(--user-lineheight);
}
.blogpM1{
    width: calc(100% - var(--user-lineheight));
}
.blogpR1{
    width: var(--user-lineheight);
}
.blogfoot{
    width: 100%;
    height: calc(var(--page-lineheight)*0.5);
}
.blogt{
    width: 100%;
}

#leave_comment::after {
    content: "";
    clear: both;
    display: table;
}

.info_span{
    color:grey;
    background-color: transparent;
    padding: 0px;
    padding-right: 4px;
    line-height: 26px;
    width: auto;
}

.gen_button{
    display:block;
    width:fit-content;
    color: white;
    box-sizing: border-box;
    padding: 4px;
    background-color: #505070;
    border-style: solid;
    border-width: 2px;
    border-color: #454565;
    border-radius: 100px;
}
.gen_button:hover{
    border-color: #303040;
    background-color: #353535;
}

.inlinebutton{
    padding-top: 0px;
}

.navsize{
    font-size: var(--page-fontsize);
    line-height: var(--page-lineheight);
}
.nobutton{
    width: 100%;
    height: 100%;
    
    border-width: 0;
    background-color: transparent;
    padding: 0;

    font-size: var(--line-3);
    font-family: var(--font);
}
.fillheight{
    width: 100%;
    height: 100%;
}

.blogtagbutton{
    display: inline-block;
}
.blog_tag{
    color:white;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding-inline: 5px;
    display: inline-block;
    min-width: var(--blogtag-width);
    overflow-wrap:anywhere;
}
#tag_source{
    min-height: 100%;
    display: block;
    width: 70%;
    height: 100%;
    font-size: var(--line-4);
}
#tag_source_new{
    min-height: 1px;
    display: block;
    width: 70%;
    height: 100%;
    font-size: var(--line-4);
}
#addBlogtag{
    padding-left: 5px;
    height: var(--line-5);
}
#tag_source:focus-visible{
    outline: transparent;
    border-width: 0px;
}
#tag_source_new:focus-visible{
    outline: transparent;
    border-width: 0px;
}

.unround{
    border-radius: 0;
}

#createtags{
    display:flex;
    width: 50%;
    height: var(--line-5);
    gap:5px;
}
